<div class="container">
<div class="row pt-3">
  <div class="col-6">
    <h4 class="text-primary">Student portal</h4>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex" (submit)="$event.preventDefault(); filterStudents()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" (input)="filterStudents()" [ngModelOptions]="{standalone: true}">
          <button class="btn btn-outline-light" type="submit" style="border-radius: 20px;">Search</button>
        </form>
      </div>
    </nav>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-outline-success" (click)="openModel()" style="border-radius: 20px;">Add New</button>
  </div>
</div>
@if (studentList.length !== 0) {
  <div class="row mt-4">
    @for (item of studentList; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-light">
        <div class="card-header bg-primary text-white">
          <div class="row">
            <div class="col-6 d-flex justify-cotent-between">
              {{item.name}}
            </div>
            <div class="col-6 text-end  justify-cotent-between">
             {{item.mobileNo}}
            </div>
          </div>
    
        </div>
        <div class="card-body">
          
          <p class="mb-1">{{item.city}} , {{item.state}} , {{item.pincode}}</p>
          <p class="mb-0">{{item.address}}</p>
        </div>
        <div class="card-footer bg-light text-center">
          <div class="row">
            <div class="col-7">
          
          <p class="mb-2">{{item.email}}</p>
          
        </div>
        <div class="col-6">
          <button class="btn btn-sm btn-primary me-2" (click)="onEdit(item)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delete</button>
        </div>
      </div>
    </div>
      </div>
      </div>
    }
    
  </div>
} @else {
  <div class="row">
    <div class="col-12 p-4 text-center">
      <p class="text-muted">No Record Found.Create New Record</p>
    </div>
  </div>
}

</div>


<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new student</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label form="">Name</label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name" required>
            <div id="nameError" class="text-danger" style="display: none;">
              Name is required.
            </div>
          </div>
        </div>
        <div class="row">

        
        <div class="col-6">
          <label form="">Mobile No</label>
          <input type="number" pattern="^\d{10}$" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile" required>
        </div>
        <div class="col-6">
          <label form="">Email</label>
          <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Name" required>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label form="">City</label>
          <input type="text" [(ngModel)]="studentObj.city" class="form-control" placeholder="City" required>
        </div>
        <div class="col-4">
          <label form="">State</label>
          <input type="text" [(ngModel)]="studentObj.state" class="form-control" placeholder="State" required>
        </div>
        <div class="col-4">
          <label form="">Pin Code</label>
          <input type="number" [(ngModel)]="studentObj.pincode" class="form-control" placeholder="Pin Code" required>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="">Address</label>
          <textarea rows="3" [(ngModel)]="studentObj.address" class="form-control" required></textarea>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
        @if (studentObj.id ==0){
        <button type="button" class="btn btn-primary" (click)="saveStudent()">Save Student</button>
      }@else {
        <button type="button" class="btn btn-primary" (click)="updateStud()">Update</button> 
      }

      </div>

    </div>
  </div>
</div>